@import url(https://fonts.googleapis.com/css?family=Inter+Tight:300,regular,500,600,700,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: "Inter Tight";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Inter Tight";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  width: 111.1%;
  background: #0d1d22
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 97.625rem;
  margin: 0 auto;
  padding: 0 1rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1rem 1fr minmax(auto,95.625rem) 1fr 1rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.select {
  min-width: 0;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff
}
.select__body {
  position: relative
}
.select__title {
  text-transform: uppercase;
  color: inherit;
  text-align: left;
  border: 1px solid #fff;
  cursor: pointer;
  width: 100%;
  transition: border-radius .35s;
  border-radius: 1.25rem;
  background-color: #102b33;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.select__title::after {
  content: "";
  background-image: url(../img/icons/arrow.svg);
  aspect-ratio: 22/12;
  background-size: contain;
  transition: all .3s
}
._select-open .select__title::after {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg)
}
._select-open .select__title {
  border-radius: 1.25rem 1.25rem 0 0
}
.select--show-top .select__title {
  border-radius: 0 0 1.25rem 1.25rem
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
  padding: 0 1.875rem;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 1.25rem 1.25rem;
  min-width: 100%;
  left: 0;
  background-color: #102b33;
  border-top: 1px solid rgba(255,255,255,.44);
  border: 1px solid #fff;
  padding: 1.25rem 0 0 0
}
.select--show-top .select__options {
  border-radius: 1.25rem 1.25rem 0 0!important;
  border-top: none;
  border-bottom: 1px solid rgba(255,255,255,.44)!important
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden
}
.select .select__scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none
}
.select .select__scroll {
  scrollbar-width: none;
  -ms-overflow-style: none
}
.select__option {
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: .625rem 0 .625rem 1.875rem;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select .simplebar-content-wrapper {
  overflow: auto!important;
  -webkit-overflow-scrolling: touch
}
.select .simplebar-mask {
  overflow: visible!important
}
.select .simplebar-scrollbar {
  touch-action: auto!important;
  pointer-events: all!important
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
.simplebar-track {
  pointer-events: all!important;
  touch-action: auto!important
}
.simplebar-content {
  margin-right: 2.1875rem
}
.simplebar-scrollbar {
  touch-action: manipulation!important
}
.select__scroll::-webkit-scrollbar {
  width: 6px;
  display: block!important
}
.select__scroll .simplebar-track.simplebar-vertical {
  background: rgba(255,255,255,.44);
  width: 2px;
  border-radius: 10px;
  overflow: visible;
  z-index: 111!important;
  right: 1.5rem!important;
  cursor: pointer!important
}
.select__scroll .simplebar-scrollbar::before {
  background: rgba(4,229,251,.94);
  border-radius: 10px;
  width: 14px;
  height: 100%;
  left: -6px;
  position: absolute;
  z-index: 110;
  content: ""
}
.select__scroll .simplebar-track.simplebar-vertical {
  background: rgba(255,255,255,.2);
  z-index: 11;
  width: 2px;
  border-radius: 10px;
  right: 6px
}
.select__scroll .simplebar-scrollbar::before {
  background: #04e5fb;
  border-radius: 10px;
  width: 14px;
  left: -6px;
  position: absolute;
  content: "";
  z-index: 111;
  opacity: 1!important
}
.select__scroll .simplebar-scrollbar::before:active {
  opacity: 1
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all .55s ease-out .1s;
  -webkit-transform: translate(0,.625rem);
  transform: translate(0,.625rem)
}
.title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.button {
  text-transform: uppercase;
  font-weight: 700;
  color: #0e1d22;
  justify-content: center;
  align-items: center;
  box-shadow: 19px 23px 65px 0 rgba(0,0,0,.15),74px 92px 119px 0 rgba(0,0,0,.13),167px 208px 160px 0 rgba(0,0,0,.08),297px 370px 190px 0 rgba(0,0,0,.02),464px 578px 207px 0 transparent;
  background: linear-gradient(120deg,#00fff2 0,#66fff7 53.35%,#00fff2 100%);
  border-radius: 1.5625rem;
  display: flex;
  flex-shrink: 0;
  transition: all .4s
}
.icon {
  flex: 0 0 auto;
  max-width: 5.75rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(217,217,217,.25);
  border-radius: 1.25rem
}
.animated-svg {
  overflow: visible
}
.animated-svg rect {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: translateY(84px);
  transform: translateY(84px);
  height: 0
}
.animated-svg path {
  stroke-dasharray: 150;
  stroke-dashoffset: 150
}
.animated-svg._watcher-view rect {
  -webkit-animation: grow 1.2s ease-out forwards;
  animation: grow 1.2s ease-out forwards
}
.animated-svg._watcher-view path {
  -webkit-animation: drawLine 2s linear forwards;
  animation: drawLine 2s linear forwards
}
@-webkit-keyframes grow {
  from {
    height: 0;
    -webkit-transform: translateY(84px);
    transform: translateY(84px)
  }
  to {
    height: var(--h,84px);
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes grow {
  from {
    height: 0;
    -webkit-transform: translateY(84px);
    transform: translateY(84px)
  }
  to {
    height: var(--h,84px);
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@-webkit-keyframes drawLine {
  from {
    stroke-dasharray: 150,150;
    stroke-dashoffset: 150
  }
  to {
    stroke-dasharray: 150,150;
    stroke-dashoffset: 0
  }
}
@keyframes drawLine {
  from {
    stroke-dasharray: 150,150;
    stroke-dashoffset: 150
  }
  to {
    stroke-dasharray: 150,150;
    stroke-dashoffset: 0
  }
}
.speed__animation {
  height: auto!important;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center
}
.speed__animation canvas {
  width: 28.125rem;
  height: auto
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center
}
.header__logo img {
  width: 100%
}
.footer {
  background-color: #fff;
  color: #0e1d22
}
.footer__container {
  border-top: 1px solid #a1a1a1
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem
}
.footer__logo {
  width: 10rem
}
.footer__logo img {
  width: 100%
}
.footer__url {
  font-weight: 500;
  text-transform: uppercase;
  justify-self: center;
  align-self: center
}
.footer__social {
  display: flex;
  gap: .8125rem
}
.footer__link {
  transition: all .3s
}
.footer__bottom {
  background: #a1a1a1
}
.footer-bottom__container {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: .9375rem;
  justify-content: space-between
}
.page {
  line-height: 1.2;
  position: relative
}
.page::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-gradient.webp) top left no-repeat;
  opacity: .05;
  z-index: -1
}
.hero {
  background: url(../img/Hero/hero.webp) center/cover no-repeat;
  position: relative
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(180deg,rgba(0,0,0,.29) 0,rgba(46,46,46,.29) 100%)
}
.hero::after {
  content: "";
  background: linear-gradient(180deg,rgba(13,29,34,0) 0,#0d1d22 100%);
  width: 100%;
  bottom: -.0625rem;
  left: 0;
  z-index: 2;
  position: absolute
}
.hero__container {
  position: relative;
  z-index: 10;
  display: grid;
  justify-items: center;
  text-align: center
}
.hero__subtitle {
  transition: all .55s .2s;
  opacity: 0;
  -webkit-transform: translate(0,.9375rem);
  transform: translate(0,.9375rem);
  font-weight: 300;
  text-transform: uppercase
}
.hero__subtitle._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 1.3125rem
}
.hero__title {
  transition: all .55s .4s;
  opacity: 0;
  -webkit-transform: translate(0,1.25rem);
  transform: translate(0,1.25rem);
  display: grid;
  justify-items: center;
  text-transform: uppercase
}
.hero__title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.hero__title b {
  font-weight: 900
}
.hero__title span {
  font-weight: 700
}
.hero__label {
  transition: all .55s .65s;
  opacity: 0;
  -webkit-transform: translate(0,1.25rem);
  transform: translate(0,1.25rem);
  display: flex;
  align-items: center;
  border-radius: 1.5625rem;
  backdrop-filter: blur(78.8000030518px);
  background: rgba(159,159,159,.06);
  font-weight: 700;
  text-transform: uppercase
}
.hero__label._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.hero__button {
  transition: opacity 1s 1s ease-in,box-shadow .4s,-webkit-transform .4s;
  transition: opacity 1s 1s ease-in,transform .4s,box-shadow .4s;
  transition: opacity 1s 1s ease-in,transform .4s,box-shadow .4s,-webkit-transform .4s;
  opacity: 0;
  padding: 2.25rem 2.5rem 2.0625rem 2.875rem
}
.hero__button._watcher-view {
  opacity: 1
}
.audience__container {
  display: grid;
  justify-items: center
}
.audience__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.item-audience {
  backdrop-filter: blur(78.8000030518px);
  background: rgba(159,159,159,.06);
  border-radius: 1.5625rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  opacity: 0;
  -webkit-transform: translate(0,.625rem);
  transform: translate(0,.625rem);
  transition: all .4s .25s
}
.item-audience._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.item-audience__icon {
  flex-basis: 5.0625rem
}
.item-audience__name {
  font-weight: 700;
  text-transform: uppercase
}
.benefits__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem
}
.item-benefits {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  -webkit-transform: translate(0,.625rem);
  transform: translate(0,.625rem);
  transition: all .4s .25s
}
.item-benefits._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.item-benefits__name {
  font-weight: 600;
  font-size: 1.5rem
}
.speed__animation {
  opacity: 0;
  transition: all 1s .4s;
  overflow: hidden;
  border-radius: 1.25rem;
  width: 100%;
  position: relative
}
.speed__animation._watcher-view {
  opacity: 1
}
.speed__animation video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.speed__animation:not(:last-child) {
  margin-bottom: -1.25rem
}
.speed__items {
  display: grid
}
.item-speed {
  opacity: 0;
  transition: all .5s .3s;
  -webkit-transform: translate(0,.625rem);
  transform: translate(0,.625rem)
}
.item-speed._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.item-speed:nth-child(2) {
  transition: all .5s .5s
}
.item-speed__title {
  font-weight: 500
}
.item-speed__title span {
  font-weight: 700;
  text-transform: uppercase
}
.item-speed__body {
  align-items: center;
  display: flex;
  gap: 1.375rem;
  border-radius: 1.25rem;
  padding: .625rem;
  background: #0b1315
}
.item-speed__image {
  grid-row: span 2;
  width: 100%;
  height: 6.625rem;
  border-radius: .1875rem;
  overflow: hidden;
  position: relative
}
.item-speed__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.item-speed__name {
  align-self: start;
  width: 100%;
  flex-basis: 100%;
  font-weight: 500;
  text-transform: uppercase;
  color: #f3f3f3
}
.item-speed__table {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center
}
.item-speed__table table {
  border-spacing: 0 .625rem
}
.item-speed__table tbody {
  display: grid;
  row-gap: .625rem
}
.item-speed__table tr {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.item-speed__table th {
  color: #76808c;
  text-align: left
}
.item-speed__table td {
  color: #f3f3f3;
  text-align: left
}
.item-speed__chart {
  display: flex;
  align-items: flex-end
}
.technology__items {
  display: flex;
  gap: 1.875rem
}
.item-technology {
  opacity: 0;
  -webkit-transform: translate(0,1.5625rem);
  transform: translate(0,1.5625rem);
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
.item-technology._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.item-technology:nth-child(1) {
  transition: all .5s .25s
}
.item-technology:nth-child(2) {
  transition: all .5s .4s
}
.item-technology:nth-child(3) {
  transition: all .5s .55s
}
.item-technology:nth-child(4) {
  transition: all .5s .7s
}
.item-technology:nth-child(5) {
  transition: all .5s .85s
}
.item-technology:nth-child(6) {
  transition: all .5s 1s
}
.item-technology__icon {
  flex-basis: 5.75rem
}
.item-technology__icon:not(:last-child) {
  margin-bottom: 1.4375rem
}
.item-technology__name {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase
}
.item-technology__name:not(:last-child) {
  margin-bottom: .8125rem
}
.item-technology__about {
  font-weight: 500
}
.plan {
  position: relative
}
.plan::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 156.25rem;
  top: 11.3125rem;
  left: 0;
  background: url(../img/bg-gradient--2.webp) top left no-repeat;
  z-index: -1
}
.plan__content {
  background: #102b33
}
.plan__title {
  text-align: center
}
.plan__title span {
  color: #00fff2
}
.plan__label {
  text-align: center;
  text-transform: uppercase
}
.plan__body {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem
}
.plan__subtitle {
  font-weight: 900;
  text-transform: uppercase
}
.plan__items {
  display: grid
}
.plan__connection {
  opacity: 0;
  transition: all 1.2s ease-out .8s;
  max-width: 31.1875rem
}
.plan__connection._watcher-view {
  opacity: 1
}
.plan__sublabel {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: .8125rem
}
.plan__button {
  padding: 1.75rem;
  border-radius: .9375rem;
  gap: 1.0625rem;
  width: 100%
}
.item-plan {
  opacity: 0;
  -webkit-transform: translate(-1.5625rem,0);
  transform: translate(-1.5625rem,0);
  display: flex;
  align-items: center
}
.item-plan._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.item-plan:nth-child(1) {
  transition: all .5s .25s
}
.item-plan:nth-child(2) {
  transition: all .5s .4s
}
.item-plan:nth-child(3) {
  transition: all .5s .55s
}
.item-plan__number {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 4.375rem;
  border-radius: .9375rem;
  background: rgba(217,217,217,.25);
  aspect-ratio: 1/1;
  font-weight: 900;
  font-size: 2.25rem;
  color: #00fff2
}
.item-plan__text {
  font-weight: 600;
  text-transform: uppercase
}
.hardware__content {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem
}
.hardware__title {
  text-align: left
}
.hardware__text {
  flex-basis: 50.849673%;
  font-size: 1.25rem;
  transition: all .5s .25s;
  opacity: 0;
  -webkit-transform: translate(.625rem,0);
  transform: translate(.625rem,0)
}
.hardware__text._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.hardware__products {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.product-hardware {
  opacity: 0;
  -webkit-transform: translate(0,1.5625rem);
  transform: translate(0,1.5625rem);
  display: grid;
  justify-items: center;
  padding: 0 0 2.5625rem 0;
  box-shadow: 0 0 45px 0 #11262d;
  background: #0d1d22
}
.product-hardware._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.product-hardware:nth-child(1) {
  transition: all .5s .25s
}
.product-hardware:nth-child(2) {
  transition: all .5s .4s
}
.product-hardware:nth-child(3) {
  transition: all .5s .55s
}
.product-hardware__content {
  width: 100%;
  justify-items: center;
  display: grid
}
.product-hardware__image {
  width: 100%;
  aspect-ratio: 491/353;
  position: relative;
  overflow: hidden
}
.product-hardware__image img {
  transition: all .4s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.product-hardware__name {
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s
}
.product-hardware__button {
  width: 100%;
  gap: 1rem
}
.info-hardware {
  display: grid;
  grid-template-columns: 5.75rem auto;
  grid-template-rows: auto auto;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.info-hardware__icon {
  flex-basis: 5.75rem;
  align-self: start
}
.info-hardware__title {
  font-weight: 700;
  margin-bottom: .1875rem;
  text-transform: uppercase;
  color: #fff
}
.important {
  background: #102b33;
  padding-bottom: 3.3125rem
}
.important__container {
  display: flex
}
.important__title-block {
  display: flex;
  align-items: center
}
.important__image {
  border-radius: 3.125rem;
  flex: 0 0 52.259332%;
  aspect-ratio: 798/556;
  overflow: hidden;
  position: relative
}
.important__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.important__icon {
  flex-basis: 5rem
}
.important__title {
  text-align: left
}
.important__list {
  display: grid
}
.important__list li {
  opacity: 0;
  -webkit-transform: translate(-.9375rem,0);
  transform: translate(-.9375rem,0);
  border-left: .125rem solid #00fff2;
  padding: .5625rem 0 .5625rem 1.3125rem;
  font-weight: 500
}
.important__list li._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.important__list li:nth-child(1) {
  transition: all .55s ease-out .3s
}
.important__list li:nth-child(2) {
  transition: all .55s ease-out .45s
}
.important__list li:nth-child(3) {
  transition: all .55s ease-out .6s
}
.important__list li b {
  display: inline-block;
  font-weight: 700
}
.request {
  background-color: #fff;
  padding-bottom: 3.75rem
}
.request__container {
  display: grid;
  justify-items: center;
  text-align: center
}
.request__title {
  color: #151515;
  margin-bottom: 1.25rem
}
.request__subtitle {
  opacity: 0;
  transition: all .55s ease-out .3s;
  -webkit-transform: translate(0,.625rem);
  transform: translate(0,.625rem);
  font-weight: 600;
  text-transform: uppercase;
  color: #151515
}
.request__subtitle._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.request__form {
  opacity: 0;
  transition: all .55s ease-out .5s;
  display: flex;
  justify-content: center;
  -webkit-column-gap: 1.6875rem;
  -moz-column-gap: 1.6875rem;
  column-gap: 1.6875rem;
  row-gap: 2.0625rem
}
.request__form._watcher-view {
  opacity: 1
}
.request__input {
  text-align: left;
  display: flex;
  align-items: center;
  transition: all .3s;
  height: 5.25rem;
  border: 1px solid #cacaca;
  border-radius: .9375rem;
  width: 23.5rem;
  color: #151515;
  font-size: 1.625rem;
  padding: 0 1.125rem
}
.request__input::-webkit-input-placeholder {
  color: #b3b3b3;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.25rem
}
.request__input:-ms-input-placeholder {
  color: #b3b3b3;
  -ms-transition: all .3s;
  transition: all .3s;
  font-size: 1.25rem
}
.request__input::-ms-input-placeholder {
  color: #b3b3b3;
  -ms-transition: all .3s;
  transition: all .3s;
  font-size: 1.25rem
}
.request__input::placeholder {
  color: #b3b3b3;
  transition: all .3s;
  font-size: 1.25rem
}
.request__input:focus {
  border: 1px solid #00fff2;
  outline: 0
}
.request__input:focus::-webkit-input-placeholder {
  opacity: 0
}
.request__input:focus:-ms-input-placeholder {
  opacity: 0
}
.request__input:focus::-ms-input-placeholder {
  opacity: 0
}
.request__input:focus::placeholder {
  opacity: 0
}
.request__button {
  border-radius: .9375rem;
  font-size: 1.25rem;
  gap: 1.25rem;
  padding: 1.375rem 3.0625rem
}
.request__button img {
  width: 2.375rem
}
.request__text {
  text-align: left;
  color: #909090;
  max-width: 59.8125rem
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto!important;
  height: auto!important;
  z-index: 0
}
.simplebar-offset {
  direction: inherit!important;
  box-sizing: inherit!important;
  resize: none!important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box!important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit!important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden
}
[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all
}
.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .2s .5s linear
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: .5;
  transition-delay: 0s;
  transition-duration: 0s
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px
}
.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto
}
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0
}
.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar!important
}
.simplebar-dummy-scrollbar-size>div {
  width: 200%;
  height: 200%;
  margin: 10px 0
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none
}
@media (min-width:43.75em) {
  .item-speed__image {
    max-width: 22.6875rem;
    margin-right: 1.25rem
  }
}
@media (min-width:47.99875em) {
  .footer__social {
    justify-self: end
  }
  .item-audience:nth-child(1) {
    transition: all .4s .25s
  }
  .item-audience:nth-child(2) {
    transition: all .4s .4s
  }
  .item-audience:nth-child(3) {
    transition: all .4s .55s
  }
  .item-audience:nth-child(4) {
    transition: all .4s .7s
  }
  .item-audience:nth-child(5) {
    transition: all .4s .85s
  }
  .item-audience:nth-child(6) {
    transition: all .4s 1s
  }
  .item-benefits:nth-child(1) {
    transition: all .4s .25s
  }
  .item-benefits:nth-child(2) {
    transition: all .4s .4s
  }
  .item-benefits:nth-child(3) {
    transition: all .4s .55s
  }
  .item-benefits:nth-child(4) {
    transition: all .4s .7s
  }
  .item-benefits:nth-child(5) {
    transition: all .4s .85s
  }
  .item-benefits:nth-child(6) {
    transition: all .4s 1s
  }
  .info-hardware__icon {
    grid-row: span 2
  }
}
@media (min-width:61.99875em) {
  .item-speed__name {
    padding: .625rem 0
  }
}
@media (min-width:61.99875em)and (min-width:120em) {
  .important__list {
    gap: 2.625rem
  }
}
@media (min-width:97.625em) {
  .header__logo {
    width: 16.75rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 2.6875rem
  }
  .hero__label {
    gap: 1.3125rem
  }
  .hero__button {
    gap: 1.5625rem
  }
  .audience__title:not(:last-child) {
    margin-bottom: 4.3125rem
  }
  .audience__items {
    gap: 1.25rem
  }
  .benefits__title:not(:last-child) {
    margin-bottom: 5.1875rem
  }
  .benefits__items {
    gap: 3.75rem
  }
  .speed__title:not(:last-child) {
    margin-bottom: 2.9375rem
  }
  .speed__items {
    gap: 4.5rem
  }
  .item-speed__table tbody {
    -webkit-column-gap: 4.1875rem;
    -moz-column-gap: 4.1875rem;
    column-gap: 4.1875rem
  }
  .important__title-block {
    gap: 1.4375rem
  }
  .important__title-block {
    margin-bottom: 3.625rem
  }
  .request__subtitle {
    margin-bottom: 3.0625rem
  }
  .request__form:not(:last-child) {
    margin-bottom: 5.3125rem
  }
}
@media (min-width:120em) {
  .select {
    font-size: 1.25rem
  }
  .select__title {
    padding-right: 1.75rem
  }
  .select__title {
    height: 5.3125rem
  }
  .select__title::after {
    width: 1.875rem
  }
  .title {
    font-size: 3rem
  }
  .button {
    font-size: 1.5rem
  }
  .header__container {
    padding-top: 6.0625rem
  }
  .footer__top {
    padding-top: 4.625rem
  }
  .footer__top {
    padding-bottom: 6rem
  }
  .footer-bottom__container {
    padding-top: .9375rem
  }
  .footer-bottom__container {
    padding-bottom: .9375rem
  }
  .page::before {
    top: .0000000625rem
  }
  .hero {
    padding-top: 17.25rem
  }
  .hero {
    padding-bottom: 17.5625rem
  }
  .hero::after {
    height: 16.125rem
  }
  .hero__subtitle {
    font-size: 1.5rem
  }
  .hero__title {
    font-size: 4rem
  }
  .hero__label {
    padding-top: 2rem
  }
  .hero__label {
    padding-right: 2.5625rem
  }
  .hero__label {
    padding-bottom: 2rem
  }
  .hero__label {
    padding-left: 2.1875rem
  }
  .hero__label img {
    width: 3.0625rem
  }
  .hero__label {
    font-size: 1.25rem
  }
  .hero__label:not(:last-child) {
    margin-bottom: 3.5625rem
  }
  .hero__button img {
    width: 3.4375rem
  }
  .audience__container {
    padding-top: 3.5625rem
  }
  .audience__container {
    padding-bottom: 8.3125rem
  }
  .item-audience {
    gap: 1.125rem
  }
  .item-audience__name {
    font-size: 1.25rem
  }
  .benefits {
    padding-bottom: 13.25rem
  }
  .speed {
    padding-bottom: 12.25rem
  }
  .speed__animation {
    height: 40.625rem
  }
  .item-speed__title {
    font-size: 1.5rem
  }
  .item-speed__title span {
    font-size: 1.5rem
  }
  .item-speed__title:not(:last-child) {
    margin-bottom: 1.3125rem
  }
  .item-speed__name {
    font-size: 1.5rem
  }
  .item-speed__table {
    gap: 3.9375rem
  }
  .item-speed__table table {
    width: 18.75rem
  }
  .item-speed__table th {
    font-size: .75rem
  }
  .item-speed__table td {
    font-size: .875rem
  }
  .item-speed__chart svg {
    width: 6.125rem
  }
  .technology {
    padding-bottom: 10.9375rem
  }
  .technology__title {
    padding-bottom: 6.5625rem
  }
  .plan {
    padding-bottom: 8.4375rem
  }
  .plan__content {
    padding-top: 5rem
  }
  .plan__content {
    padding-bottom: 5rem
  }
  .plan__content {
    padding-left: 11.875rem
  }
  .plan__content {
    padding-right: 11.875rem
  }
  .plan__content {
    border-radius: 3.125rem
  }
  .plan__title:not(:last-child) {
    margin-bottom: .8125rem
  }
  .plan__label {
    font-size: 1.25rem
  }
  .plan__label:not(:last-child) {
    margin-bottom: 4.75rem
  }
  .plan__subtitle {
    font-size: 2rem
  }
  .plan__subtitle:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .plan__items {
    gap: 1.6875rem
  }
  .plan__sublabel {
    font-size: 1.5rem
  }
  .plan__sublabel:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .plan__button {
    margin-top: 1.9375rem
  }
  .plan__button img {
    width: 3.4375rem
  }
  .item-plan {
    gap: 1.5625rem
  }
  .item-plan__text {
    font-size: 1.25rem
  }
  .hardware {
    padding-bottom: 6.75rem
  }
  .hardware__content {
    margin-bottom: 2.125rem
  }
  .hardware__products {
    gap: 1.75rem
  }
  .hardware__products:not(:last-child) {
    margin-bottom: 3.9375rem
  }
  .product-hardware {
    gap: 2.25rem
  }
  .product-hardware {
    border-radius: 1.25rem
  }
  .product-hardware__content {
    gap: 2.25rem
  }
  .product-hardware__content {
    padding-left: 2.25rem
  }
  .product-hardware__content {
    padding-right: 2.25rem
  }
  .product-hardware__image {
    border-radius: 1.25rem
  }
  .product-hardware__name {
    font-size: 1.5rem
  }
  .product-hardware__button {
    height: 5.9375rem
  }
  .product-hardware__button img {
    width: 2.8125rem
  }
  .info-hardware__title {
    font-size: 2rem
  }
  .info-hardware__text {
    font-size: 2rem
  }
  .important {
    padding-top: 3.3125rem
  }
  .important__container {
    gap: 6rem
  }
  .important__title {
    font-size: 3rem
  }
  .request {
    padding-top: 5.4375rem
  }
  .request__title {
    font-size: 3rem
  }
  .request__subtitle {
    font-size: 1.25rem
  }
}
@media (max-width:75em) {
  .plan__connection {
    max-width: 23.75rem
  }
  .hardware__content {
    flex-direction: column
  }
}
@media (max-width:50em) {
  .request__input {
    width: 100%
  }
}
@media (max-width:20em) {
  .header__logo {
    width: 9.75rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__label {
    gap: .8125rem
  }
  .hero__button {
    gap: .875rem
  }
  .audience__title:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .audience__items {
    gap: 1rem
  }
  .benefits__title:not(:last-child) {
    margin-bottom: 4.25rem
  }
  .benefits__items {
    gap: 2.5rem
  }
  .speed__title:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .speed__items {
    gap: 1.875rem
  }
  .item-speed__table tbody {
    -webkit-column-gap: 3.25rem;
    -moz-column-gap: 3.25rem;
    column-gap: 3.25rem
  }
  .important__title-block {
    gap: 1rem
  }
  .important__title-block {
    margin-bottom: 2.875rem
  }
  .request__subtitle {
    margin-bottom: 2.6875rem
  }
  .request__form:not(:last-child) {
    margin-bottom: 4.1875rem
  }
}
@media (max-width:97.625em) {
  .hero__button {
    padding: 2.25rem 2.5rem 2.0625rem 2.875rem
  }
}
@media (max-width:87.5em) {
  .technology__items {
    flex-wrap: wrap;
    justify-content: space-around
  }
}
@media (max-width:71.875em) {
  .audience__items {
    grid-template-columns: repeat(2,1fr)
  }
  .benefits__items {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:61.99875em) {
  .item-speed__body {
    align-items: start;
    gap: .625rem;
    display: grid;
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
    grid-template: 1fr auto/36.666667% auto;
    padding: 1.4375rem
  }
  .plan__content {
    padding-top: 2.5rem
  }
  .plan__content {
    padding-bottom: 2.5rem
  }
  .plan__content {
    padding-left: 1.375rem
  }
  .plan__content {
    padding-right: 1.375rem
  }
  .plan__button {
    padding: 1.1875rem
  }
  .hardware__products {
    grid-template-columns: repeat(2,1fr)
  }
  .important__container {
    gap: 1.5625rem
  }
  .important__image {
    display: none
  }
  .important__list {
    gap: 2.625rem
  }
  .request__form {
    width: 100%
  }
}
@media (max-width:51.25em) {
  .plan__body {
    flex-direction: column;
    row-gap: 4.6875rem
  }
  .plan__connection {
    max-width: 100%;
    transition: all 1.2s ease-out .5s
  }
}
@media (max-width:47.99875em) {
  .header__container {
    padding-top: 4.1875rem
  }
  .footer__top {
    grid-template-columns: 1fr;
    justify-items: center
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 2.0625rem
  }
  .footer__url:not(:last-child) {
    margin-bottom: 3.0625rem
  }
  .page::before {
    top: 30.3125rem
  }
  .hero {
    padding-bottom: 11.25rem
  }
  .hero__button {
    padding: 1.5rem 1.875rem 1.25rem 1.875rem
  }
  .audience__items {
    grid-template-columns: auto
  }
  .benefits__items {
    grid-template-columns: auto
  }
  .speed__animation {
    height: 21.875rem
  }
  .item-speed__body {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem;
    row-gap: 1.375rem
  }
  .item-technology:nth-child(1) {
    transition: all .5s .25s
  }
  .item-technology:nth-child(2) {
    transition: all .5s .4s
  }
  .item-technology:nth-child(3) {
    transition: all .5s .4s
  }
  .item-technology:nth-child(4) {
    transition: all .5s .55s
  }
  .item-technology:nth-child(5) {
    transition: all .5s .55s
  }
  .item-technology:nth-child(6) {
    transition: all .5s .7s
  }
  .item-technology__about {
    display: none
  }
  .plan__subtitle {
    text-align: center
  }
  .product-hardware {
    padding: 0 0 2.125rem 0
  }
  .info-hardware {
    gap: 1.0625rem
  }
  .info-hardware__title {
    align-self: center
  }
  .info-hardware__text {
    grid-column: span 2
  }
  .request__form {
    flex-direction: column
  }
}
@media (max-width:43.75em) {
  .item-speed__body {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center
  }
}
@media (max-width:42.5em) {
  .hardware__products {
    grid-template-columns: 1fr
  }
}
@media (max-width:29.99875em) {
  .speed__animation canvas {
    width: 100%
  }
  .footer__social {
    flex-wrap: wrap;
    justify-content: space-around
  }
  .footer-bottom__container {
    flex-direction: column
  }
  .hero__subtitle {
    max-width: 17.25rem
  }
  .plan::before {
    display: none
  }
  .request__subtitle {
    display: grid
  }
  .request__button {
    padding: 1.375rem
  }
}
@media (max-width:27.5em) {
  .select {
    font-size: .875rem
  }
  .select__title {
    padding-right: 1.3125rem
  }
  .select__title {
    height: 3.875rem
  }
  .select__title::after {
    width: 1.375rem
  }
  .title {
    font-size: 2.25rem
  }
  .button {
    font-size: 1.1875rem
  }
  .footer__top {
    padding-top: 2.5rem
  }
  .footer__top {
    padding-bottom: 3.25rem
  }
  .footer-bottom__container {
    padding-top: 1.375rem
  }
  .footer-bottom__container {
    padding-bottom: 1.4375rem
  }
  .hero {
    padding-top: 12.3125rem
  }
  .hero::after {
    height: 14.25rem
  }
  .hero__subtitle {
    font-size: .875rem
  }
  .hero__title {
    font-size: 2rem
  }
  .hero__label {
    padding-top: 1.0625rem
  }
  .hero__label {
    padding-right: .875rem
  }
  .hero__label {
    padding-bottom: 1.125rem
  }
  .hero__label {
    padding-left: 1.3125rem
  }
  .hero__label img {
    width: 1.9375rem
  }
  .hero__label {
    font-size: .8125rem
  }
  .hero__label:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .hero__button img {
    width: 2.625rem
  }
  .audience__container {
    padding-top: 4.0625rem
  }
  .audience__container {
    padding-bottom: 5.0625rem
  }
  .item-audience {
    gap: .8125rem
  }
  .item-audience__name {
    font-size: 1.0625rem
  }
  .benefits {
    padding-bottom: 8.375rem
  }
  .speed {
    padding-bottom: 8.4375rem
  }
  .item-speed__title {
    font-size: 1.25rem
  }
  .item-speed__title span {
    font-size: 1rem
  }
  .item-speed__title:not(:last-child) {
    margin-bottom: .875rem
  }
  .item-speed__name {
    font-size: 1.25rem
  }
  .item-speed__table {
    gap: 3.125rem
  }
  .item-speed__table {
    width: 100%
  }
  .item-speed__table table {
    width: 14.75rem
  }
  .item-speed__table table {
    width: 100%
  }
  .item-speed__table th {
    font-size: .5625rem
  }
  .item-speed__table td {
    font-size: .6875rem
  }
  .item-speed__chart svg {
    width: 4.625rem
  }
  .technology {
    padding-bottom: 9.6875rem
  }
  .technology__title {
    padding-bottom: 5.375rem
  }
  .technology__items {
    gap: .9375rem
  }
  .item-technology__icon {
    flex-basis: 4.375rem
  }
  .item-technology__name {
    font-size: 1rem
  }
  .plan {
    padding-bottom: 6.9375rem
  }
  .plan__content {
    border-radius: 1.5625rem
  }
  .plan__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .plan__label {
    font-size: 1rem
  }
  .plan__label:not(:last-child) {
    margin-bottom: 3.375rem
  }
  .plan__subtitle {
    font-size: 1.5rem
  }
  .plan__subtitle:not(:last-child) {
    margin-bottom: 2.5625rem
  }
  .plan__items {
    gap: 1rem
  }
  .plan__sublabel {
    font-size: 1rem
  }
  .plan__sublabel:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .plan__button {
    margin-top: 1.5rem
  }
  .plan__button img {
    width: 2.375rem
  }
  .item-plan {
    gap: 1rem
  }
  .item-plan__text {
    font-size: 1rem
  }
  .hardware {
    padding-bottom: 4.375rem
  }
  .hardware__content {
    margin-bottom: 3.1875rem
  }
  .hardware__products {
    gap: 1.3125rem
  }
  .hardware__products:not(:last-child) {
    margin-bottom: 2.375rem
  }
  .product-hardware {
    gap: 1.875rem
  }
  .product-hardware {
    border-radius: 1.0625rem
  }
  .product-hardware__content {
    gap: 1.875rem
  }
  .product-hardware__content {
    padding-left: 1.25rem
  }
  .product-hardware__content {
    padding-right: 1.25rem
  }
  .product-hardware__image {
    border-radius: 1.0625rem
  }
  .product-hardware__name {
    font-size: 1.1875rem
  }
  .product-hardware__button {
    height: 5.25rem
  }
  .product-hardware__button img {
    width: 2.3125rem
  }
  .info-hardware__title {
    font-size: 1.5rem
  }
  .info-hardware__text {
    font-size: 1rem
  }
  .important {
    padding-top: 2.375rem
  }
  .important__title {
    font-size: 2rem
  }
  .request {
    padding-top: 4.8125rem
  }
  .request__title {
    font-size: 2rem
  }
  .request__subtitle {
    font-size: 1rem
  }
}
@media (max-width:27.5em)and (max-width:0em) {
  .title {
    font-size: 1.5rem
  }
}
@media (min-width:27.5em)and (max-width:120em) {
  .select {
    font-size: clamp(.875rem ,.7635135135rem + .4054054054vw ,1.25rem)
  }
  .select__title {
    padding-right: clamp(1.3125rem ,1.1824324324rem + .472972973vw ,1.75rem)
  }
  .select__title {
    height: clamp(3.875rem ,3.4476351351rem + 1.5540540541vw ,5.3125rem)
  }
  .select__title::after {
    width: clamp(1.375rem ,1.2263513514rem + .5405405405vw ,1.875rem)
  }
  .title {
    font-size: clamp(2.25rem ,2.027027027rem + .8108108108vw ,3rem)
  }
  .button {
    font-size: clamp(1.1875rem ,1.0945945946rem + .3378378378vw ,1.5rem)
  }
  .footer__top {
    padding-top: clamp(2.5rem ,1.8682432432rem + 2.2972972973vw ,4.625rem)
  }
  .footer__top {
    padding-bottom: clamp(3.25rem ,2.4324324324rem + 2.972972973vw ,6rem)
  }
  .footer-bottom__container {
    padding-top: clamp(.9375rem ,1.5050675676rem + -.472972973vw ,1.375rem)
  }
  .footer-bottom__container {
    padding-bottom: clamp(.9375rem ,1.5861486486rem + -.5405405405vw ,1.4375rem)
  }
  .hero {
    padding-top: clamp(12.3125rem ,10.8445945946rem + 5.3378378378vw ,17.25rem)
  }
  .hero::after {
    height: clamp(14.25rem ,13.6925675676rem + 2.027027027vw ,16.125rem)
  }
  .hero__subtitle {
    font-size: clamp(.875rem ,.6891891892rem + .6756756757vw ,1.5rem)
  }
  .hero__title {
    font-size: clamp(2rem ,1.4054054054rem + 2.1621621622vw ,4rem)
  }
  .hero__label {
    padding-top: clamp(1.0625rem ,.7837837838rem + 1.0135135135vw ,2rem)
  }
  .hero__label {
    padding-right: clamp(.875rem ,.3733108108rem + 1.8243243243vw ,2.5625rem)
  }
  .hero__label {
    padding-bottom: clamp(1.125rem ,.8648648649rem + .9459459459vw ,2rem)
  }
  .hero__label {
    padding-left: clamp(1.3125rem ,1.0523648649rem + .9459459459vw ,2.1875rem)
  }
  .hero__label img {
    width: clamp(1.9375rem ,1.6030405405rem + 1.2162162162vw ,3.0625rem)
  }
  .hero__label {
    font-size: clamp(.8125rem ,.6824324324rem + .472972973vw ,1.25rem)
  }
  .hero__label:not(:last-child) {
    margin-bottom: clamp(2.25rem ,1.8597972973rem + 1.4189189189vw ,3.5625rem)
  }
  .hero__button img {
    width: clamp(2.625rem ,2.3834459459rem + .8783783784vw ,3.4375rem)
  }
  .audience__container {
    padding-top: clamp(3.5625rem ,4.2111486486rem + -.5405405405vw ,4.0625rem)
  }
  .audience__container {
    padding-bottom: clamp(5.0625rem ,4.0962837838rem + 3.5135135135vw ,8.3125rem)
  }
  .item-audience {
    gap: clamp(.8125rem ,.7195945946rem + .3378378378vw ,1.125rem)
  }
  .item-audience__name {
    font-size: clamp(1.0625rem ,1.0067567568rem + .2027027027vw ,1.25rem)
  }
  .benefits {
    padding-bottom: clamp(8.375rem ,6.9256756757rem + 5.2702702703vw ,13.25rem)
  }
  .speed {
    padding-bottom: clamp(8.4375rem ,7.3040540541rem + 4.1216216216vw ,12.25rem)
  }
  .item-speed__title {
    font-size: clamp(1.25rem ,1.1756756757rem + .2702702703vw ,1.5rem)
  }
  .item-speed__title span {
    font-size: clamp(1rem ,.8513513514rem + .5405405405vw ,1.5rem)
  }
  .item-speed__title:not(:last-child) {
    margin-bottom: clamp(.875rem ,.7449324324rem + .472972973vw ,1.3125rem)
  }
  .item-speed__name {
    font-size: clamp(1.25rem ,1.1756756757rem + .2702702703vw ,1.5rem)
  }
  .item-speed__table {
    gap: clamp(3.125rem ,2.8834459459rem + .8783783784vw ,3.9375rem)
  }
  .item-speed__table table {
    width: clamp(14.75rem ,13.5608108108rem + 4.3243243243vw ,18.75rem)
  }
  .item-speed__table th {
    font-size: clamp(.5625rem ,.5067567568rem + .2027027027vw ,.75rem)
  }
  .item-speed__table td {
    font-size: clamp(.6875rem ,.6317567568rem + .2027027027vw ,.875rem)
  }
  .item-speed__chart svg {
    width: clamp(4.625rem ,4.1790540541rem + 1.6216216216vw ,6.125rem)
  }
  .technology {
    padding-bottom: clamp(9.6875rem ,9.3158783784rem + 1.3513513514vw ,10.9375rem)
  }
  .technology__title {
    padding-bottom: clamp(5.375rem ,5.0219594595rem + 1.2837837838vw ,6.5625rem)
  }
  .plan {
    padding-bottom: clamp(6.9375rem ,6.4915540541rem + 1.6216216216vw ,8.4375rem)
  }
  .plan__content {
    border-radius: clamp(1.5625rem ,1.097972973rem + 1.6891891892vw ,3.125rem)
  }
  .plan__title:not(:last-child) {
    margin-bottom: clamp(.8125rem ,1.785472973rem + -.8108108108vw ,1.5625rem)
  }
  .plan__label {
    font-size: clamp(1rem ,.9256756757rem + .2702702703vw ,1.25rem)
  }
  .plan__label:not(:last-child) {
    margin-bottom: clamp(3.375rem ,2.9662162162rem + 1.4864864865vw ,4.75rem)
  }
  .plan__subtitle {
    font-size: clamp(1.5rem ,1.3513513514rem + .5405405405vw ,2rem)
  }
  .plan__subtitle:not(:last-child) {
    margin-bottom: clamp(1.75rem ,2.8040540541rem + -.8783783784vw ,2.5625rem)
  }
  .plan__items {
    gap: clamp(1rem ,.7956081081rem + .7432432432vw ,1.6875rem)
  }
  .plan__sublabel {
    font-size: clamp(1rem ,.8513513514rem + .5405405405vw ,1.5rem)
  }
  .plan__sublabel:not(:last-child) {
    margin-bottom: clamp(1.75rem ,1.527027027rem + .8108108108vw ,2.5rem)
  }
  .plan__button {
    margin-top: clamp(1.5rem ,1.3699324324rem + .472972973vw ,1.9375rem)
  }
  .plan__button img {
    width: clamp(2.375rem ,2.0591216216rem + 1.1486486486vw ,3.4375rem)
  }
  .item-plan {
    gap: clamp(1rem ,.8327702703rem + .6081081081vw ,1.5625rem)
  }
  .item-plan__text {
    font-size: clamp(1rem ,.9256756757rem + .2702702703vw ,1.25rem)
  }
  .hardware {
    padding-bottom: clamp(4.375rem ,3.6689189189rem + 2.5675675676vw ,6.75rem)
  }
  .hardware__content {
    margin-bottom: clamp(2.125rem ,3.5033783784rem + -1.1486486486vw ,3.1875rem)
  }
  .hardware__products {
    gap: clamp(1.3125rem ,1.1824324324rem + .472972973vw ,1.75rem)
  }
  .hardware__products:not(:last-child) {
    margin-bottom: clamp(2.375rem ,1.910472973rem + 1.6891891892vw ,3.9375rem)
  }
  .product-hardware {
    gap: clamp(1.875rem ,1.7635135135rem + .4054054054vw ,2.25rem)
  }
  .product-hardware {
    border-radius: clamp(1.0625rem ,1.0067567568rem + .2027027027vw ,1.25rem)
  }
  .product-hardware__content {
    gap: clamp(1.875rem ,1.7635135135rem + .4054054054vw ,2.25rem)
  }
  .product-hardware__content {
    padding-left: clamp(1.25rem ,.9527027027rem + 1.0810810811vw ,2.25rem)
  }
  .product-hardware__content {
    padding-right: clamp(1.25rem ,.9527027027rem + 1.0810810811vw ,2.25rem)
  }
  .product-hardware__image {
    border-radius: clamp(1.0625rem ,1.0067567568rem + .2027027027vw ,1.25rem)
  }
  .product-hardware__name {
    font-size: clamp(1.1875rem ,1.0945945946rem + .3378378378vw ,1.5rem)
  }
  .product-hardware__button {
    height: clamp(5.25rem ,5.0456081081rem + .7432432432vw ,5.9375rem)
  }
  .product-hardware__button img {
    width: clamp(2.3125rem ,2.1638513514rem + .5405405405vw ,2.8125rem)
  }
  .info-hardware__title {
    font-size: clamp(1.5rem ,1.3513513514rem + .5405405405vw ,2rem)
  }
  .info-hardware__text {
    font-size: clamp(1rem ,.7027027027rem + 1.0810810811vw ,2rem)
  }
  .important {
    padding-top: clamp(2.375rem ,2.0962837838rem + 1.0135135135vw ,3.3125rem)
  }
  .important__title {
    font-size: clamp(2rem ,1.7027027027rem + 1.0810810811vw ,3rem)
  }
  .request {
    padding-top: clamp(4.8125rem ,4.6266891892rem + .6756756757vw ,5.4375rem)
  }
  .request__title {
    font-size: clamp(2rem ,1.7027027027rem + 1.0810810811vw ,3rem)
  }
  .request__subtitle {
    font-size: clamp(1rem ,.9256756757rem + .2702702703vw ,1.25rem)
  }
}
@media (max-width:27.5em)and (min-width:27.5em) {
  .title {
    font-size: 2.25rem
  }
}
@media (max-width:27.5em)and (min-width:0em)and (max-width:27.5em) {
  .title {
    font-size: clamp(1.5rem ,1.5rem + 2.7272727273vw ,2.25rem)
  }
}
@media (min-width:47.99875em)and (max-width:120em) {
  .header__container {
    padding-top: clamp(4.1875rem ,2.9375542525rem + 2.6041214562vw ,6.0625rem)
  }
  .page::before {
    top: clamp(.0000000625rem ,50.5199562091rem + -42.0999634555vw ,30.3125rem)
  }
  .hero {
    padding-bottom: clamp(11.25rem ,7.0418493169rem + 8.7672089026vw ,17.5625rem)
  }
  .speed__animation {
    height: clamp(21.875rem ,9.3755425253rem + 26.0412145622vw ,40.625rem)
  }
}
@media (min-width:27.5em)and (max-width:47.99875em) {
  .header__container {
    padding-top: clamp(4.75rem ,6.9451986402rem + -4.5734496006vw ,5.6875rem)
  }
  .hero {
    padding-bottom: clamp(11.25rem ,39.055849442rem + -57.9303616074vw ,23.125rem)
  }
}
@media (min-width:20em)and (max-width:97.625em) {
  .header__logo {
    width: clamp(9.75rem ,7.9464573269rem + 9.0177133655vw ,16.75rem)
  }
  .hero__title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.6656602254rem + 1.0466988728vw ,2.6875rem)
  }
  .hero__label {
    gap: clamp(.8125rem ,.6836755233rem + .6441223833vw ,1.3125rem)
  }
  .hero__button {
    gap: clamp(.875rem ,.6978663446rem + .885668277vw ,1.5625rem)
  }
  .audience__title:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.6399959742rem + 2.7375201288vw ,4.3125rem)
  }
  .audience__items {
    gap: clamp(1rem ,.9355877617rem + .3220611916vw ,1.25rem)
  }
  .benefits__title:not(:last-child) {
    margin-bottom: clamp(4.25rem ,4.0084541063rem + 1.2077294686vw ,5.1875rem)
  }
  .benefits__items {
    gap: clamp(2.5rem ,2.1779388084rem + 1.6103059581vw ,3.75rem)
  }
  .speed__title:not(:last-child) {
    margin-bottom: clamp(2.9375rem ,3.9593397746rem + -1.0466988728vw ,3.75rem)
  }
  .speed__items {
    gap: clamp(1.875rem ,1.1986714976rem + 3.3816425121vw ,4.5rem)
  }
  .item-speed__table tbody {
    -webkit-column-gap: clamp(3.25rem ,3.0084541063rem + 1.2077294686vw ,4.1875rem);
    -moz-column-gap: clamp(3.25rem ,3.0084541063rem + 1.2077294686vw ,4.1875rem);
    column-gap: clamp(3.25rem ,3.0084541063rem + 1.2077294686vw ,4.1875rem)
  }
  .important__title-block {
    gap: clamp(1rem ,.8872785829rem + .5636070853vw ,1.4375rem)
  }
  .important__title-block {
    margin-bottom: clamp(2.875rem ,2.681763285rem + .9661835749vw ,3.625rem)
  }
  .request__subtitle {
    margin-bottom: clamp(2.6875rem ,2.5908816425rem + .4830917874vw ,3.0625rem)
  }
  .request__form:not(:last-child) {
    margin-bottom: clamp(4.1875rem ,3.8976449275rem + 1.4492753623vw ,5.3125rem)
  }
}
@media (min-width:20em)and (max-width:47.99875em) {
  .speed__animation {
    height: clamp(12.5rem ,5.8032724675rem + 33.4836376624vw ,21.875rem)
  }
}
@media (min-width:20em)and (max-width:27.5em) {
  .item-speed__table {
    gap: clamp(.9375rem ,-4.8958333333rem + 29.1666666667vw ,3.125rem)
  }
}
@media (min-width:61.99875em)and (max-width:120em) {
  .plan__content {
    padding-top: clamp(2.5rem ,-.1723023211rem + 4.3102519342vw ,5rem)
  }
  .plan__content {
    padding-bottom: clamp(2.5rem ,-.1723023211rem + 4.3102519342vw ,5rem)
  }
  .plan__content {
    padding-left: clamp(1.375rem ,-9.8486697485rem + 18.1030581237vw ,11.875rem)
  }
  .plan__content {
    padding-right: clamp(1.375rem ,-9.8486697485rem + 18.1030581237vw ,11.875rem)
  }
  .important__container {
    gap: clamp(1.5625rem ,-3.1808366199rem + 7.6506971833vw ,6rem)
  }
}
@media (min-width:61.99875em)and (min-width:61.99875em)and (max-width:120em) {
  .important__list {
    gap: clamp(1.25rem ,-.2197662766rem + 2.3706385638vw ,2.625rem)
  }
}
@media (min-width:61.99875em)and (max-width:61.99875em) {
  .important__list {
    gap: 1.25rem
  }
}
@media (any-hover:hover) {
  .select__option:hover {
    background: rgba(217,217,217,.1764705882)
  }
  .select__scroll .simplebar-scrollbar::before:hover {
    opacity: 1
  }
  .button:hover {
    box-shadow: 10px 15px 30px rgba(0,0,0,.25),20px 30px 40px rgba(0,0,0,.2),40px 50px 60px rgba(0,0,0,.15);
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
  }
  .footer__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .footer__policy:hover {
    text-decoration: underline
  }
  .product-hardware__image img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .product-hardware__name:hover {
    color: #00fff2
  }
  .request__input:hover {
    border: 1px solid #00fff2;
    outline: 0
  }
}